.content {
  background-color: #d9d9d9;
  border-radius: 30px;
  margin: 10px;
  padding: 20px;
}

.content * {
  color: #292929;
  background-color: #d9d9d9;
}

.title {
  font-size: 22px;
}

.location {
  font-weight: bold;
  font-size: 32px;
}

.temp {
  font-size: 64px;
  font-weight: bold;
}

.temp svg {
  background-color: transparent;
  transform: translateX(-20%);
}

.details {
  font-size: 20px;
  margin: 0 5px;
}

.details svg {
  font-size: 26px;
}

.updateAt {
  font-size: 16px;
  color: #5c5c5c;
}
