.today {
  background-color: white;
  padding: 20px 15px 20px 15px;
}

.todayLocation {
}

.todayTemp {
  font-size: 60px;
}

.todayImage {
  transform: translateX(-30%);
}

.todayIcon {
  font-size: 18px;
}

.todayLastUpdate {
  text-align: left;
  font-size: 12px;
}
