.footer {
  background-color: #292929;
  color: white;
  min-width: 100%;
  text-align: center;
  padding: 20px 10px 10px 10px;
  bottom: 0;
  height: 15vh;
}

.footer * {
  background-color: #292929;
}

.footer div {
  width: fit-content;
  height: min-content;
  margin: 0 auto;
}

.footer svg {
  font-size: 30px;
  margin: 15px;
  color: #cccccc;
}

.footer svg:hover {
  cursor: pointer;
  color: white;
}

.footer p {
  font-size: 18px;
  color: #cccccc;
}
