.container {
  background-color: #cccccc;
  padding: 10px 10px 1px 10px;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container * {
  background-color: transparent;
}

.container p {
  color: #292929;
  margin-bottom: 5px;
}
